@font-face {
  font-family: "HeadingNow55Medium",sans-serif;
  src: url("./HeadingNowTrial-55Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HeadingNow56Bold",sans-serif;
  src: url("./HeadingNowTrial-56Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HeadingNow57Extrabold",sans-serif;
  src: url("./HeadingNowTrial-57Extrabold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima-nova",sans-serif;
  src: url("./fonnts.com-ProximaSansRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}