@mixin font20 {
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
}

@mixin font24 {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
}

@mixin font160 {
  font-size: 160px;
  font-weight: 800;
  line-height: 140px;
}
