@mixin font14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

@mixin font18 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

@mixin font20 {
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
}

@mixin font22 {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
}

@mixin font24 {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
}

@mixin font26 {
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
}

@mixin font32 {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
}

@mixin font50 {
  font-size: 50px;
  font-weight: 400;
  line-height: 32px;
}

@mixin font56 {
  font-size: 56px;
  font-weight: 400;
  line-height: 56px;
}

@mixin font80 {
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
}

@mixin font120 {
  font-size: 120px;
  font-weight: 400;
  line-height: 104px;
}

@mixin font160 {
  font-size: 160px;
  font-weight: 800;
  line-height: 140px;
}
