:root {
  --black: #111;
  --grey-900: #f6f6f6;
  --grey-800: #1a1a1a;
  --grey-700: #262626;
  --grey-600: #444;
  --grey-590: #4d4d4d;
  --grey-300: #bbb;
  --grey-400: #b7b7b7;
  --green-300: #caf291;
  --green-700: #eafaea;
  --pink-100: #b81269;
  --pink-300: #ffb3db;
  --pink-700: #fff1fc;
  --pink-900: #ffeff7;
  --blue-300: #70e6ed;
  --blue-700: #e3f7f7;
  --white: #fff;
  --red: #d4351c;
  --ff-headingnow-medium: "HeadingNow55Medium";
  --ff-headingnow-bold: "HeadingNow56Bold";
  --ff-headingnow-extrabold: "HeadingNow57Extrabold";
  --ff-proxima-nova: "proxima-nova",sans-serif;
}
